<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FinalProjectKel7.Properties.Settings.DBJadwalAkademikConnectionString"
            connectionString="Data Source=LAPTOP-G2F55ONU\EHZANDHERRY;Initial Catalog=DBJadwalAkademik;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>